
@{
    ViewBag.Title = "Yetkinlik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yetkilendirme</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>a</td>
        <td>1</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-warning">Güncelle</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>b</td>
        <td>2</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-warning">Güncelle</a></td>
    </tr>
</table>
