
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="wrap">
    <h2>En İyi Oteller</h2>
    <table class="table table-bordered">
        <tr>
            <th style="width:25%;"><b>Mekan</b></th>
            <th style="width:25%;"><b>Yer</b></th>
            <th><b>Otel'e Ait Görseller</b></th>
        </tr>
        <tr>
            <td>Uğurlu Konakları</td>
            <td>Merkez - Kastamonu</td>
            <td><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/a1/3f/17/ugurlu-konaklari.jpg?w=700&h=-1&s=1" style="width:600px; height:250px;" /></td>
        </tr>
        <tr>
            <td>Ferko Ilgaz Mountain Hotel & Resort</td>
            <td>Ilgaz - Kastamonu</td>
            <td><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/92/aa/6b/ilgaz-mountain-resort.jpg?w=1200&h=-1&s=1" style="width:600px; height:250px;" /></td>
        </tr>
        <tr>
            <td>Toprakçılar Konağı</td>
            <td>Merkez - Kastamonu</td>
            <td><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/b7/1e/56/sahmeran-konak-otel.jpg?w=1200&h=-1&s=1" style="width:600px; height:250px;" /></td>
        </tr>
        <tr>
            <td>İksir Resort Town</td>
            <td>Merkez - Kastamonu</td>
            <td><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/c9/a9/bc/iksir-resort-town.jpg?w=800&h=-1&s=1" style="width:600px; height:250px;" /></td>
        </tr>
        <tr>
            <td>Park Dedeman Kastamonu</td>
            <td>Merkez - Kastamonu</td>
            <td><img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/f1/36/14/park-dedeman-kastamonu.jpg?w=700&h=-1&s=1" style="width:600px; height:250px;" /></td>
        </tr>
    </table>
</div>

